{% extends 'base.html.twig'%}

{% block title %}Création d'une annonce{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
                <h1 class=" h1 mt-5 mb-5">Créer une nouvelle annonce</h1>

                {{ form_start(form) }}

                {{ form_widget(form) }}

                    <button type="submit" class="btn btn-primary mt-2">Créer la nouvelle annonce</button>

                {{ form_end(form) }}
    </div>

{% endblock %}

{% block _annonce_images_widget %}
    <p>Ici, vous pouvez ajouter vos propres images !</p>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>
{% endblock %}

{% block _annonce_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _annonce_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $('#add-image').click(function(){
            // Je récupère le numéro des futurs champs que je vais créer
            const index = +$('#widgets-counter').val();
            // Je récupère le prototype des entrées
            const tmpl = $('#annonce_images').data('prototype').replace(/__name__/g, index);

            // J'injecte ce code au sein de la div
            $('#annonce_images').append(tmpl);

            $('#widgets-counter').val(index + 1);

            // Je gère le bouton supprimer
            handleDeleteButtons();
        });

        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            });
        }

        handleDeleteButtons();
    </script>

{% endblock %}
